CMakeCache.txt
CMakeFiles/*
Makefile
TestHTTP.xml
TestHTTP/.cproject
TestHTTP/.project
TestHTTP/CMakeCache.txt
TestHTTP/CMakeFiles/*
TestHTTP/Makefile
TestHTTP/bin/*
TestHTTP/cmake_install.cmake
TestHTTP/coverage/*
cmake_install.cmake
lib/*

#Windows
.vs/*
HTTP.suo
HTTP/HTTP.vcxproj.user
HTTP/HTTP_VS14.vcxproj.user
HTTP_VS14.VC.db
TestHTTP/LastCoverageResults.log
TestHTTP/TestHTTP.vcxproj.user
TestHTTP/TestHTTP_VS14.vcxproj.user
